@font-face {
  font-family: 'Gallient';
  src: url('./assets/fonts/Gallient-Regular.eot');
  src: url('./assets/fonts/Gallient-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Gallient-Regular.woff2') format('woff2'),
    url('./assets/fonts/Gallient-Regular.woff') format('woff'),
    url('./assets/fonts/Gallient-Regular.ttf') format('truetype'),
    url('./assets/fonts/Gallient-Regular.svg#Gallient-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tilt Neon';
  src: url('./assets/fonts/TiltNeon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wano Quin';
  src: url('./assets/fonts/WanoQuin-ExtraBold.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magilio';
  src: url('./assets/fonts/Net-Magilio.tft') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}