::selection {
  color: var(--color-selection);
  background-color: transparent;
}

::-webkit-selection {
  color: var(--color-selection);
  background-color: transparent;
}

::-moz-selection {
  color: var(--color-selection);
  background-color: transparent;
}